<h2>{{currentEmp|json}}</h2>
<ul>
    <li>
        Username : <b>{{currentEmp.username}}</b>
    </li>
    <li>
        Pswr     : <b>{{currentEmp.password}}</b>
     </li>
     <li>
        FirstName: <b>{{currentEmp.firstname}}</b>
     </li>
     <li>
        LastName : <b>{{currentEmp.lastname}}</b>
     </li>
     <li>
        Email    : <b>{{currentEmp.email}}</b>
     </li>
     <li>
        Hobbies  : <b>{{currentEmp.hobbies}}</b>
     </li>
     <li>
        gender   : <b>{{currentEmp.gender}}</b>
     </li>

</ul>